@media (max-width: 1600px)
  .header
    &-top
      padding-left: 3%
      padding-right: 3%
@media (max-width: 1200px)
  .container
    max-width: 960px
  .header
    &-top
      max-width: 1100px
    &-nav
      &__item:not(:last-child)
        margin-right: 23px
        font-size: 14px
        line-height: 115%
    &-buttons
      min-width: 140px
  .events
    &__main
      justify-content: space-around
  .about
    padding-left: 2%
    padding-right: 2%
  .news
    &-left
      flex-basis: 40%
    &-right
      flex-basis: 55%
  .footer
    &-item
      flex-basis: 24%
  .socials
    &-item
      flex-basis: 21%

@media (max-width: 992px)
  .container
    max-width: 760px
  .header
    &-nav
      display: none
    &-buttons
      display: none
    &-main
      flex-direction: column
      padding-top: 12%
      padding-bottom: 50px
      padding-left: 5%
      padding-right: 5%
    &-cards
      &--pt-110
        padding-top: 10%
    &-description
      &__title
        font-weight: bold
        font-size: 54px
        line-height: 140%
        text-transform: uppercase
      &__text
        max-width: 370px
        font-size: 20px
        line-height: 135%
  .menu
    &-btn
      width: 20px
      height: 16px
      border: none
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      background: transparent
      cursor: pointer
      &__line
        width: 20px
        height: 2px
        background: $light
  .footer
    &-item
      flex-basis: 33%
      margin-bottom: 20px
      &:nth-last-child(-n+4)
        margin-bottom: 20px
    &-title
      margin-bottom: 20px
      font-size: 21px
      line-height: 130%
    &-list
      &__link
        font-size: 14px
        line-height: 100%
  .socials
    justify-content: space-between
    padding-left: 5%
    padding-right: 5%
    &-item
      max-width: 270px
      flex: 1 1 48%
      margin-bottom: 20px
    &-title
      margin-bottom: 20px
      font-size: 25px
      line-height: 110%
    &-list
      &__link
        font-size: 14px
        line-height: 115%
  .news
    flex-direction: column
    padding-left: 5%
    padding-right: 5%
    &-card
      max-width: 100%
    &-left
      display: flex
      align-items: flex-start
      justify-content: space-between
      max-width: 100%
      &__img
        margin-bottom: 30px
        flex-basis: 48%
  .about
    &__title
      font-size: 18px
      line-height: 115%
    &__all
      &-link
        font-size: 16px
        line-height: 115%

@media (max-width: 768px)
  .socials
    justify-content: space-around
    &-item
      flex: 0 0 48%
      margin-bottom: 15px
    &-title
      margin-bottom: 15px
      font-size: 20px
      line-height: 110%
    &-list
      &__link
        font-size: 14px
        line-height: 115%
  .footer
    justify-content: space-between
    align-items: center
    padding-left: 5%
    padding-right: 5%
    &-item
      flex: 0 1 48%
      margin-bottom: 15px
      &:nth-last-child(-n+4)
        margin-bottom: 20px
    &-title
      margin-bottom: 15px
      font-size: 16px
      line-height: 100%
    &-list
      &__link
        font-size: 13px
        line-height: 100%

@media (max-width: 540px)
  .header
    &-description
      &__title
        font-size: 46px
        line-height: 120%
      &__text
        max-width: 370px
        font-size: 18px
        line-height: 125%
    &-cards
      flex-direction: column
    &-card
      max-width: 250px