.section-footer
  background: $blue
.footer
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: flex-start
  padding: 75px 0
  color: $light 
  &-download
    display: flex
    align-items: flex-start
    flex-direction: column

  &-item
    flex-basis: 25%
    margin-bottom: 40px
    &:nth-last-child(-n+4)
      margin-bottom: 0
  &-title
    margin-top: 0
    margin-bottom: 20px
    font-weight: 500
    font-size: 21px
    line-height: 130%
    letter-spacing: -0.01em
  &-list
    list-style: none
    padding: 0
    margin: 0
    &__item:not(:last-child)
      margin-bottom: 15px
    &__link
      font-size: 14px
      line-height: 135%
      color: $footer-tx
      transition: color 0.2s linear
      &:hover
        color: $gold
        text-decoration: underline
  &__follow-text
    margin: 0
    margin-bottom: 25px
    max-width: 255px
    font-size: 14px
    line-height: 135%
    color: $footer-tx
  &-socials
    display: flex
    align-items: center
    max-width: 220px
    justify-content: space-between
    &__link
      text-align: center
      min-width: 25px
      max-height: 25px
      
  &-form
    display: flex
    position: relative
    overflow: hidden
    height: 40px
    max-width: 255px
    &__input
      width: 255px
      height: 100%
      padding-left: 20px
      padding-right: 45px
      background: $light
      border: none
      font-size: 12px
      line-height: 135%
      color: #9C9C9C
    &__button
      position: absolute
      top: 0
      right: 0
      height: 100%
      width: 40px
      border: none
      background: $red
      